.footer {      
    bottom: 0;
    margin-bottom: 20px; 
    position: absolute;
    text-align: center;
    width: 100%;

    a {
        color: $mako;        
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    i {
        bottom: 5px;
        font-size: 14px;        
        margin-left: 4px;
        position: relative;
    }

    @include phones {

        span {
            font-size: 14px;
        }        

        i {
            font-size: 11px;
        }
    }
}