.form {    
    background-color: $white;
    border: 1px solid $cornflower-blue;
    border-radius: 5px;    
    padding: 40px;
    text-align: center;
    width: 100%;

    .form-title {
        font-size: 23px;
        font-weight: lighter;
        margin: 0;
        padding: 0 0 20px;
    }  
    
    .form-paragraph {
        font-size: 17px;        
        margin: 0;
        padding: 10px 0 20px;
    }

    label {
        text-align: left;
        width: 100%;
    }

    .form-check {
        margin: 0 auto;
    }

    .image-container {
        padding: 0 5px;

        img {        
            height: 300px;                
            margin: 0 auto 15px;        
            width: 100%;
        }
    }        
    
    .btn {
        margin-top: 20px;
        padding: 7px 30px;
        width: 100px;
    }

    .text-link {
        font-size: 15px;
        font-weight: lighter;        
        padding: 25px 0;  
        
        a {
            text-decoration: none;
        }
    }        
}