.not-found {
    @include containerPadding;
    margin-top: 50px;    
    text-align: center;
    
    span {
        font-size: 50px;        
    }

    p {
        font-size: 20px;
        margin-bottom: 30px;
    }
}