.sign-up {
    align-items: center;    
    padding-top: 65px;
    padding-bottom: 120px;    

    .sign-up-form {
        max-width: 350px;    
        width: 100%;
    }    

    @include phones {

        .sign-up-form {
            max-width: 300px;                
        }           
    }
}