* {    
    list-style: none;
    margin: 0;    
    padding: 0;        
}

html {
    background-color: #fbfbfb;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    background-color: #fbfbfb;
    min-height: 100vh;
    position: relative;   
}